@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Webmaster:</strong>   <a href="mailto:roman.konstantinovskiy@example.com">roman.konstantinovskiy@example.com</a><br />
</address>