@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Расчёт немоделируемых рисков</h1>
    <p class="lead">Загрузите входные данные в формате Excel для расчёта.</p>
    <p><a href="http://hashtagrisk.ru" class="btn btn-primary btn-lg">Подробная инструкция &raquo;</a></p>
</div>

<div class="row">
    @using (Html.BeginForm("Create", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            <span class="btn btn-default btn-file">
                Загрузить файл с описанием <input type="file" name="file">
            </span>
            <input type="submit" class="btn btn-primary btn-lg" />
        </div>
    }
</div>