@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Расчёт немоделируемых рисков</h1>
    <p class="lead">Загрузите входные данные в формате Excel для расчёта.</p>
    <p>@Html.ActionLink("Скачать образец »", "DownloadSample", "", new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    @using (Html.BeginForm("Create", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            <span class="btn btn-default btn-file">
                Загрузить файл с описанием<br /><br /><input type="file" name="file">
            </span>
            <input type="submit" class="btn btn-primary btn-lg" value="Произвести расчёт" />
        </div>
    }
</div>