@using Chart.Mvc.ComplexChart;
@using Chart.Mvc.Extensions

@model RiskApp.Models.RiskResult
@{
    ViewBag.Title = "Calculate risks";
}

@Scripts.Render("~/bundles/chart")

<div class="jumbotron">
    <h1>Немоделируемые риски</h1>
    <p class="lead">Результаты расчёта.</p>
    <p><a href="http://hashtagrisk.ru" class="btn btn-primary btn-lg">Узнать больше&raquo;</a></p>
</div>

<div>
    <h2>Рисковые факторы:</h2>
    <br />
    <br />
    @foreach (var v in Model.Results)
    {
        <p style="background-color:@v.PointColor;color:rgb(255,255,255)">  @v.Label</p>
        <br />
    }
</div>
@{
    var chart = new LineChart();
    chart.ComplexData.Labels.AddRange(Model.Mesh);
    chart.ComplexData.Datasets.AddRange(Model.Results);
}

<hr />
<br />
<h2>Распределение вероятностей возможных убытков</h2>
<p>Вероятность получения убытка меньше заданного, %</p>
<canvas id="plotCanvas" width="1000" height="600"></canvas>
<p style="align-content:center">Величина убытка</p>
@Html.CreateChart("plotCanvas", chart);
</div>