@model RiskApp.Models.RiskModel
@{
    ViewBag.Title = "Calculate risks";
}

<div class="jumbotron">
    <h1>Немоделируемые риски</h1>
    <p class="lead">Результаты расчёта.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Узнать больше&raquo;</a></p>
</div>

<div class="row">
@foreach(var m in Model.Factors)
{
    <p>Название=@m.Name</p>
}
</div>